.top__content__links
      
  = link_to order_item_path(order.id) ,mathod: :get, class: "top__content__links__back" do
    < 前の商品
  = link_to  "#" , class: "top__content__links__back" do
    後ろの商品 >
= link_to "#" , class: "top__content__edit" do
  ベビー・キッズをもっと見る