-# .wrapper
-#   = render 'header'
-#   = render 'main_kitada'
-#   = render 'footer'

.exhibition-container
  .exhibition-container__header
    =link_to "#" , class: "exhibition-container__header__logo" do
      =image_tag "logo.png",class: "exhibition-container__header__logo__image"

  .exhibition-container__main
    .exhibition-container__main__item-profile
      .exhibition-container__main__item-profile__header
        商品の情報を入力      
      .exhibition-container__main__item-profile__sell-form
        .exhibition-container__main__item-profile__sell-form__upload
          .exhibition-container__main__item-profile__sell-form__upload__head
            .title
            出品画像
            .form-require
              必須
          .attention
            最大10枚までアップロードできます
          .exhibition-container__main__item-profile__sell-form__upload__images-10
      .exhibition-container__main__item-profile__sell-contents
        .exhibition-container__main__item-profile__sell-contents__name
          .title
            商品名
          .form-require
            必須
        .exhibition-container__main__item-profile__sell-contents__description
          .title
            商品の説明
          .form-require
            必須




      

  .exhibition-container__footer
    .exhibition-container__footer__lists
      =link_to "#", class: "exhibition-container__footer__lists__list" do
        プライバシーポリシー
      =link_to "#", class: "exhibition-container__footer__lists__list" do
        メルカリ利用規約
      =link_to "#", class: "exhibition-container__footer__lists__list" do
        特定商取引に関する表記   
    =link_to "#" , class: ".exhibition-container__footer__logo" do
      =image_tag "logo.png",class: "exhibition-container__footer__logo__image"
    .exhibition-container__footer__ending
      © Mercari, Inc.

