


label {
  display: table-row;
  line-height: 50px;
}

.number {
  font-size: 20px;
}

.cvc {
  font-size: 15px;
  width: 250px;
}

.card_up {
  margin: 10px 0;
  font-size: 20px;
  border-radius: 25px;
  width: 150px;
   
  background-color: darkseagreen;


}