html{
  min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
}

.exhibition{
  &__header{
    margin: 40px 0 0;
    height: 128px;
    
    text-align: center;
    &__logo{
      &__image{
        width: 185px;
        height: 49px;
        line-height: 49px;
      }
    }
  }

  &__main{
    &__itemProfile{
      background-color: #fff;
      width: 700px;
      margin: 0 auto;

      &__top{
        padding: 32px 16px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
      }

      &__sellForm{
        border-top: 1px solid #eee;

        &__upload{
          width: 620px;
          padding: 40px;

          &__head{
            font-weight: bold;
            display: flex;
          }

          &__attention{
            margin: 8px 0 0;
            line-height: 1.5;
          }

          &__images10{
            height: 144px;
            width: 100%;
            margin-top: 16px;
            background: #f5f5f5;
            border: dashed 1px #999;
            text-align: center;
          }
        }
      }
      &__sellGoods{
        padding: 40px;
        border-top: 1px solid #eee;

        &__name{
          font-weight: bold;
          display: flex;
        }

        &__description{
          margin: 40px 0 0;
          font-weight: bold;
          display: flex;
        }
        &__wordCount{
          text-align: right;
        }
      }

      &__sellDetails{
        padding: 40px;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;

        &__title{
          color: #888;
          font-weight: bold;
          font-size: 14px;
        }
        &__formBox{
          width: 400px;
          margin: 0;

          &__category{
            &__select{
              font-weight: bold;
              display: flex;
            }
          }
          &__brand{
            margin: 40px 0 0;
            &__write{
              font-weight: bold;
              display: flex;
            }
          }
          &__state{
            margin: 40px 0 0;
            &__select{
              font-weight: bold;
              display: flex;
            }
          }
        }
      }

      &__delivery{
        padding: 40px;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;

        &__leftBox{
          &__title{
            color: #888;
            font-weight: bold;
            font-size: 14px;
          }
        }
        &__formBox{
          width: 400px;
          margin: 0;
          &__burden{
            &__select{
              font-weight: bold;
              display: flex;
            }
          }
          &__area{
            &__select{
              margin: 40px 0 0;
              font-weight: bold;
              display: flex;
            }
          }
          &__days{
            &__select{
              margin: 40px 0 0;
              font-weight: bold;
              display: flex;
            }
          }
        }
      }

      &__sellPrice{
        padding: 40px;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;

        &__leftBox{
          &__title{
            color: #888;
            font-weight: bold;
            font-size: 14px;
          }
        }
        &__calculation{
          width: 400px;
          margin: 0;
          &__priceForm{
            padding: 0 0 24px;
            &__amountOfSales{
              font-weight: bold;
              display: flex;
            }

          }
          &__commission{
            padding: 24px 0;
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            &__title{
            }
          }
          &__profit{
            padding: 24px 0;
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            &__title{
            }
            &__count{

            }
          
          }
        }
      }
      .warning{
        padding: 40px;
        border-top: 1px solid #eee;
        &__links{
          &__link{
            text-decoration: none;

          }
        }
      }
    }
  }

//「必須」の表記
  .formRequire{
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }

//「任意」の表記
  .formAny{
    background: #bfbfbf;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }

  //入力部分
  .input{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }

  .textarea{
    width: 100%;
    margin: 8px 0 0;
    height: 144px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }

  .submit1{
    display: block;
    margin: 40px 0 0;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    cursor: pointer;
    text-align: center;  
    text-decoration: none;
  }

  .submit2{
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    display: block;
    line-height: 48px;
    font-size: 17px;
    width: 45%;
    margin: 24px auto 0;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  &__footer{
    text-align: center;
    padding: 40px 0px 41px;
    &__lists{
      margin: -16px 0px 40px -16px;



      &__list{
        margin: 16px 0px 0px 16px;
        font-size: 12px;
        color: black;

      }
    }
    &__logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;

      &__image{
        width: 185px;
        height: 49px;
      }
    }
    &__ending{
      font-size: 13px;
      text-align: center;

    }
  }
}

a{
  text-decoration: none;
  color: #0099e8;
}
