.body{
  padding: 0;
  margin: 0;
}

.signup{
  min-height: 100%;
  background-color: #f5f5f5;
  a{
    text-decoration: none;
    color: skyblue;
  }
  &__header{
    height: 128px;
    display: flex;
    justify-content: center;
    .header-icon{
      margin-top: 40px;
      a{
        line-height: 49px;
        img{
          height: 49x;
          width: 185px;
        }
      }
    }
  }
  &__main{
    display: block;
    .section{
      margin: 0 auto;
      width: 700px;
      background-color: #fff;
      h2{
        font-size: 22px;
        padding: 32px;
        text-align: center;
        font-weight: bold;
      }
      form{
        border-top: 1px solid #f5f5f5;
        padding: 24px 16px 40px;
        .content{
          max-width: 343px;
          margin: 0 auto;
          .field{
            font-size: 14px;
            margin-top: 24px;
            .check-field{
              margin-top: 10px;
              p{
                color: #777;
              }
              .check-box{
                margin-top: 15px;
                label{
                  cursor: pointer;
                  #check{
                    transform: scale(1.5);
                    margin-right: 5px;
                    cursor: pointer;
                  }
                  .pass{
                    font-weight: normal;
                  }
                }
              }
            }
            h3{
              font-size: 15px;
              font-weight: bold;
              opacity: 0.8;
              margin-bottom: 5px;
            }
            .text{
              margin-top: 8px;
            }
            label{
              font-weight: 600;
            }
            .require{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              background-color: red;
            }
            .input-area{
              height: 27px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              width: 90%;
              margin-top: 5px;
            }
            .name{
              display: flex;
              .input-half{
                height: 27px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                width: 40%;
                margin-top: 5px;
              }
              .left{
                margin-right: 10px;
              }
            }
            .birth-select{
              display: flex;
              margin: 5px 0;
              #user_email{
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                width: 80px;
              }
            }
            .birth{
              line-height: 48px;
              margin: 0 10px;
            }
          }
          .ident{
            font-size: 14px;
            color: #777;
          }
          .info{
            margin-top: 50px;
            font-size: 14px;
            margin-bottom: 10px;
          }
          .actions{
            margin: 10px 0;
            text-align: center;
            .signup-submit{
              width: 100%;
              height: 50px;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
            }
          }
          .text{
            margin: 20px 0;
            text-align: right;
            font-size: 14px;
          }
          .privacy{
            font-size: 11px;
            background-color: #f5f5f5;
            padding: 8px 16px;
          }
        }
      }
    }
  }
  &__footer{
    width: 456px;
    height: 200px;
    margin: 0 auto;
    padding-top: 30px;
    a{
      color: black;
    }
    ul{
      display: flex;
      justify-content: space-around;
      font-size: 12px;
      li{
        margin: 0 10px;
      }
    }
    .footer-icon{
      margin: 50px 0 20px;
      text-align: center;
      color: #777;
      .hurima-icon{
        height: 50px;
        width: 200px;
        object-fit: cover;
      }
      p{
        font-size: 12px;
      }
    }
  }
}